O.*/
/db
/bin
/dbd
/include
/lib
/templates
envPaths
cdCommands
dllPath.bat
runIOC.bat
runIOC.sh
relPaths.sh
/src/ExperimentData/bin/
/src/ExperimentData/obj/
/src/ExperimentDataApplication/bin/
/src/ExperimentDataApplication/obj/
*.pyc
.idea
.project
*.kdb
