O.*/
/db
/bin
/dbd
/include
/lib
/templates
envPaths
cdCommands
dllPath.bat
runIOC.bat
runIOC.sh
relPaths.sh
*.pyc
.idea
.project
*.kdb
*.kdbx
/exp_db_populator_venv
/.venv
/.coverage
*.egg-info
/logs
